.timer-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12vw;
    font-family: monospace;
    margin: 0;
    padding: 0;
    font-weight: bold;
    white-space: nowrap;
}

.task-input-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    gap: 0.5em;
}

.task-input-form input,
.start-stop-button {
    box-sizing: border-box;
    /* Set both to same height type */
}

.task-input-form input {
    width: 90%;
    height: 2.5rem;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 8px;
    border: 3px solid var(--primary-color);
    outline: none;
    transition: border-color 0.3s;
    caret-color: var(--primary-color);
}

.start-stop-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    border: none;
    padding: 0;
    background-color: var(--primary-color);
}

.start-stop-button:active {
    transform: scale(0.95);
    /* Slight "press" effect */
}

#task-history {
    padding-top: 10px;
}

#history-title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#history-title-row .daily-totals {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    line-height: 1.2;
}

#history-title-row .daily-totals p {
    margin: 0;
}

.task-bubble {
    display: flex;
    align-items: center;
    padding: 0.2rem 1rem;
    text-align: left;
    background: lightgray;
    margin-bottom: 10px;
    border-radius: 1rem;
    min-height: 3rem;
}

.task-bubble p {
    margin: 0.2rem 0;
    line-height: 1.2;
}

.circle-number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: #8e8e93;
    color: white;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
}

.task-bubble-middle {
    flex-grow: 1;
    text-align: left;
}

.task-bubble-middle p,
.task-bubble-right p {
    white-space: normal;
    overflow-wrap: break-word;
}

.task-bubble-right {
    margin-left: auto;
    text-align: right;
}

.task-details {
    font-size: 0.9em;
    line-height: 1.2;
    margin-top: 0.1rem !important;
}

.add-new-task {
    display: flex;
    justify-content: flex-end;
}
