#todo-title-row:first-child {
    margin-top: 0.1rem;
    margin-bottom: 5px;
}

#todo-title-row {
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
}

#todo-title-row p {
    margin: 0;
}

#todo-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.3rem;
    text-align: left;
}

.todo-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.6rem;
}

.todo-text {
    flex-grow: 1;
    text-align: left;
}

.todo-text p {
    white-space: normal;
    overflow-wrap: break-word;
    margin: 0;
    padding: 0.3rem 0;
}

.todo-details {
    font-size: 0.9rem;
    line-height: 1.2;
    margin-top: 0.1rem !important;
}

.todo-start {
    margin-left: auto;
    text-align: right;
}

.add-new-todo {
    display: flex;
    justify-content: flex-end;
}
