:root {
    --primary-color: #B179F1;
}

body {
    /* background-color: #0f1116;
    color: #ffffff; */
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#navbar {
    overflow: hidden;
    background-color: #fff;
    position: fixed;
    top: -5rem;
    width: 100%;
    height: 5rem;
}

#page-content {
    margin-top: 50px;
}

#timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.timer-text {
    font-size: 12vw;
    margin: 0;
    padding: 0;
    font-weight: bold;
    white-space: nowrap;
}

.task-input-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    gap: 0.5em;
}

.task-input-form input,
.start-stop-button {
    box-sizing: border-box;
    /* Set both to same height type */
}

.task-input-form input {
    width: 90%;
    height: 2.5rem;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 8px;
    border: 3px solid var(--primary-color);
    outline: none;
    transition: border-color 0.3s;
    caret-color: var(--primary-color);
}

.start-stop-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    border: none;
    padding: 0;
    background-color: var(--primary-color);
}

.start-stop-button:active {
    transform: scale(0.95);
    /* Slight "press" effect */
}

#task-history {
    padding-top: 10px;
}

#history-title-row {
    display: flex;
    justify-content: space-between;

    align-items: center;
}

#history-title-row .daily-totals {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    line-height: 1.2;
}

#history-title-row .daily-totals p {
    margin: 0;
}

.bold {
    font-weight: bold;
}

.task-bubble {
    display: flex;
    align-items: center;
    padding: 0.2rem 1rem;
    text-align: left;
    background: lightgray;
    margin-bottom: 10px;
    line-height: 0.5rem;
    border-radius: 1rem;
}

.circle-number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: #8e8e93;
    color: white;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
}

.task-bubble-middle {
    flex-grow: 1;
    text-align: left;
}

.task-bubble-right {
    margin-left: auto;
    text-align: right;
}